@using SRC.Web.Portal.Models
@using SRC.Library.Entities
@using SRC.Library.Entities.CrmEntities
@model ProfilePageModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="main-content" style="width: 90%; margin: auto;">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            @Html.Partial("ProfileMenu", Model);
            <aside class="profile-info col-lg-9">
                <section class="panel transparentGray">
                    <div class="panel-body bio-graph-info" id="divContent">
                        <h1>Bio Graph</h1>
                        <div class="row">
                            <div class="bio-row">
                                <p><span>İsim </span>: @Model.Contact.FirstName</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Soyisim </span>: @Model.Contact.LastName</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Doğum Tarihi</span>: @Model.Contact.BirthDate</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Cinsiyet </span>: @Model.Contact.Gender.Value</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Cep Telefonu </span>: @Model.Contact.MobilePhone</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Email </span>: @Model.Contact.EmailAddress</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Gsm Operatörü </span>: @Model.Contact.GsmOperator.Name</p>
                            </div>
                            <div class="bio-row">
                                <p><span>İş Telefonu </span>: @Model.Contact.WorkPhone</p>
                            </div>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
        <!-- page end-->
    </section>
</section>


@section scripts{
    <script>

        $(document).ready(function () {
            $("a").click(function () {
                $.ajax({
                    url: '@Url.Action("EducationList", "Education")',
                    type: 'POST',
                    data: @Html.Raw(Json.Encode(Model.Attendances))
                    }).success(function (result) {
                        $("#divContent").html(result);
                    });
            });
        });
    </script>
}


