@using SRC.Web.Portal.Models
@using SRC.Library.Entities
@using SRC.Library.Entities.CrmEntities
@model ProfilePageModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="main-content" style="width: 90%; margin: auto;">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            @Html.Action("ProfileMenu", "Partials")

            <aside class="profile-info col-lg-9">
                <section class="panel">
                    <div class="bio-graph-heading" style="padding:10px 50px;">
                        &nbsp;
                    </div>
                    <div class="panel-body bio-graph-info" id="divContent">
                        <h1>Profil Özeti</h1>
                        <div class="row">
                            <div class="bio-row">
                                <p><span>İsim </span>: @Model.Contact.FirstName</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Soyisim </span>: @Model.Contact.LastName</p>
                            </div>
                            <div class="bio-row">
                                @if (Model.Contact.BirthDate != null)
                                {
                                    <p><span>Doğum Tarihi</span>: @Model.Contact.BirthDateStr</p>
                                }
                                else
                                {
                                    <p><span>Doğum Tarihi</span>: @Model.Contact.BirthDate</p>
                                }
                                
                            </div>
                            <div class="bio-row">
                                @if (Model.Contact.Gender != null && Model.Contact.Gender.AttributeValue == 1)
                                {
                                     <p><span>Cinsiyet </span>: Erkek</p>
                                }
                                else if (Model.Contact.Gender != null && Model.Contact.Gender.AttributeValue == 2)
                                {
                                    <p><span>Cinsiyet </span>: Kadın</p>
                                }
                                else
                                {
                                     <p><span>Cinsiyet </span>: </p>
                                }
                               
                            </div>
                            <div class="bio-row">
                                <p><span>Cep Telefonu </span>: @Model.Contact.MobilePhone</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Email </span>: @Model.Contact.EmailAddress</p>
                            </div>
                            <div class="bio-row">
                                @if (Model.Contact.GsmOperator != null)
                                {
                                    <p><span>Gsm Operatörü </span>: @Model.Contact.GsmOperator.Name</p>
                                }
                                else
                                {
                                    <p><span>Gsm Operatörü </span>: </p>
                                }
                                
                            </div>
                            <div class="bio-row">
                                <p><span>İş Telefonu </span>: @Model.Contact.WorkPhone</p>
                            </div>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
        <!-- page end-->
    </section>
</section>


@section scripts{
    <script>

        $(document).ready(function () {
            $("a").click(function () {
                $.ajax({
                    url: '@Url.Action("EducationList", "Education", new { querymodel = new EducationQueryModel() { EducationList = Model.EducationList } })',
                    type: 'POST',
                    data: @Html.Raw(Json.Encode(Model.Attendances))
                    }).success(function (result) {
                        $("#divContent").html(result);
                    });
            });
        });
    </script>
}


