@using SRC.Web.NewPortal

@{
    ViewBag.Title = "İçerik Editör";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section head
{
    @Styles.Render(BundleConfig.BundleStyleAngular)
    @Styles.Render(BundleConfig.BundleStyleAngularUi)
}

<div>
    <div class="ng-view"></div>
</div>

@section scripts
{
    @Scripts.Render(BundleConfig.BundleJsAngular)
    @Scripts.Render(BundleConfig.BundleJsAngularUi)
    @Scripts.Render(BundleConfig.BundleJsAngularAppMain)

    <script src="~/ckeditor/ckeditor.js"></script>
}