@using SRC.Library.Entities.CrmEntities
@model Education

@if (Model == null)
{
    return;
}
<section id="container" class="">
    <!--header end-->
    <!--sidebar start-->
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="bio-graph-heading project-heading" style="padding:10px 50px;">
                        <strong> @Model.Name </strong>
                        <p><small>EDU-K937925</small> </p>
                    </div>
                    <div class="panel-body bio-graph-info">
                        <!--<h1>New Dashboard BS3 </h1>-->
                        <div class="row p-details">
                            <div class="bio-row">
                                <p><span class="bold">Eğitmen </span>: @Model.Contact.Name</p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Durum </span>: <span class="label label-primary">Aktif</span></p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Kayıt Tarihi </span>: @Model.FormattedRecordDate </p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Eğitim Tarihi</span>: @Model.FormattedEducationDate </p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Eğitim Saati </span>: <a href="#">@Model.FormattedEducationHour</a></p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Şehir </span>: @Model.City.Name</p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Eğitim Yeri </span>: Dış Ticaret Kompleksi-Yenibosna </p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Kontenjan </span>: 20 Kişi </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="panel">
                    <header class="panel-heading">
                        Eğitim Detayı
                    </header>
                    <div class="panel-body">
                        @Html.Raw(Model.Info)
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
    <!--main content end-->
</section>
