@using SRC.Library.Entities.CrmEntities
@model List<Education>

@{
    ViewBag.Title = "Eğitim Takvimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content" style="width:90%;margin:auto;">
    <section class="wrapper">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Eğitim Listesi
                <span class="pull-right">
                    <a href="/education" class="btn btn-warning btn-xs"><i class="fa fa-refresh"></i> Yenile</a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline text-center" role="form">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-dialog-center" id="educationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" id="divModal">
                </div>
            </div>

            <table class="table table-hover p-table">
                <thead>
                    <tr>
                        <th>Eğitim Adı</th>
                        <th>Eğitmen</th>
                        <th>Kontenjan</th>
                        <th>Süre</th>
                        <th>Şehir</th>
                        <th>Durum</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var education in Model)
                    {
                        <tr>
                            <td class="p-name">
                                <a data-toggle="modal" type="detail" id="@education.Id.ToString()" href="#educationModal">@education.Name</a>
                                <br>
                                <small>@education.FormattedEducationDate</small>
                            </td>
                            <td>
                                <a data-toggle="modal" type="educator" href="#educationModal">@education.Contact.Name</a>
                            </td>
                            <td class="p-progress">
                                <div class="progress progress-xs">
                                    <div style="width: 87%;" class="progress-bar progress-bar-success"></div>
                                </div>
                                <small>10% Dolu </small>
                            </td>
                            <td>
                                <span class="label label-primary">@education.EducationPeriod.Value gün</span>
                            </td>
                            <td>
                                <p>@education.City.Name</p>
                            </td>
                            <td>
                                <p>@education.Status.Value</p>
                            </td>
                            <td>
                                <a href="project_details.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Başvur </a>
                                <a data-toggle="modal" type="detail" href="#educationModal" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Detay </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @section scripts{

                <script type="text/javascript">
                    $(document).ready(function () {
                        $("a[type='detail']").click(function () {
                            $.ajax({
                                url: '@Url.Action("Detail", "Education")',
                                type: 'GET',
                                data: { id: $(this).attr("id") }
                            }).success(function (result) {
                                $("#divModal").html(result);
                            });
                        });
                    });
                </script>

            }

        </section>
        <!-- page end-->
    </section>
</section>
