<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="immib">
    <meta name="author" content="SRC Soft">
    <meta name="keyword" content="immib, egitim, istanbul, maden, metal">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>@ViewBag.Title | İMMİB Eğitim</title>

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/style")

    <link href="/css/flexslider.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />

</head>
<body class="full-width">
    <section id="container" class="">

        <div class="modal fade modal-dialog-center" id="educationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="divModal">
            </div>
        </div>

        <div class="modal fade modal-dialog-center" id="attendanceModal" tabindex="-1" role="dialog" aria-labelledby="attendanceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="divModalAttendance">
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Giriş / Kayıt</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="/Profile/CheckLogin" id="formLogin">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control input-lg" placeholder="Kullanıcı adı" name="userName" />
                            </div>
                            <div class="input-group" style="margin-top:10px;">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" name="password" class="form-control input-lg" placeholder="Şifre" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning pull-left">Şifremi Unuttum</button>
                        <button id="btnSignUp" type="button" class="btn btn-info">Üye Ol</button>
                        <button id="btnLogin" type="submit" class="btn btn-primary">Giriş</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        @Html.Partial("_Header")

        @RenderBody()

        @Html.Partial("_Footer")

    </section>

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/general")

    <script src="/js/jquery.flexslider.js"></script>
    <script src="~/assets/jquery-knob/js/jquery.knob.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $("a[type='educationdetail']").click(function () {
                $.ajax({
                    url: '@Url.Action("Detail", "Education")',
                    type: 'GET',
                    data: { id: $(this).attr("id") }
                }).success(function (result) {
                    $("#divModal").html(result);
                });
            });

            $("a[type='educationAttendance']").click(function () {
                $.ajax({
                    url: '@Url.Action("EducationAttendances", "Partials")',
                    type: 'GET',
                    data: { id: $(this).attr("id") }
                }).success(function (result) {
                    $("#divModalAttendance").html(result);

                    $("a[type='applyEducation']").click(function () {
                        $.ajax({
                            url: '@Url.Action("CreateEducationAttendance", "Education")',
                            type: 'POST',
                            data: { educationId: $(this).attr("id") }
                        }).success(function (result) {
                            $("#divModalAttendance .panel-body").html("" +
                                "<p>Eğitim Katılım Talebiniz Alınmıştır, Teşekkürler.</p>" +
                                "<p>Eğitim Katılım Kodunuz : " + result.Result.Code + "</p>" +
                                "<a href='#' type='payment'>Ödeme yapmak için tıklayınız</a>");
                        });
                    });

                });
            });

            $("a[type='educationCancelAttendance']").click(function () {
                $.ajax({
                    url: '@Url.Action("EducationCancelAttendances", "Partials")',
                    type: 'GET',
                    data: { id: $(this).attr("id") }
                }).success(function (result) {
                    $("#divModalAttendance").html(result);

                    $("a[type='cancelEducation']").click(function () {
                        alert("test");
                        $.ajax({
                            url: '@Url.Action("CanceEducationAttendance", "Education")',
                            type: 'POST',
                            data: { educationId: $(this).attr("id") }
                        }).success(function (result) {
                            $("#divModalAttendance .panel-body").html(result.Result);

                            window.location.href = '/Profile/Education?type=100000000';
                        });
                    });

                });
            });

            $("#btnSignUp").click(function () {
                window.location.href = "/Profile/SignUp";
            });

            $("#btnLogin").click(function () {
                $("#formLogin").submit();
            });
        });

        function CreditCardProcess() {
            $("a[type='payment']").click(function () {
                $.ajax({
                    url: '@Url.Action("CreditCard", "Education")',
                    type: 'POST',
                    data: { educationId: $(this).attr("id") }
                }).success(function (result) {
                    $("#divModalAttendance .panel-body").html("" +
                        "<p>Eğitim Katılım Talebiniz Alınmıştır, Teşekkürler.</p>" +
                        "<p>Eğitim Katılım Kodunuz : " + result.Result.Code + "</p>" +
                        "<a href='#' type='payment'>Ödeme yapmak için tıklayınız</a>");
                });
            });
        }

        $("input[name='sample-radio']").change(function () {
            var val = $(this).val();

            if (val == 0) { //Firma
                
                $("#divPosition").show();
                $("#divCompany").show();
                $("#divTaxNumber").show();
                $("#divWorkPhone").show();

            }
            else if (val == 1) //Öğrenci
            {
                $("#divPosition").hide();
                $("#divCompany").hide();
                $("#divTaxNumber").hide();
                $("#divWorkPhone").hide();
            }
        });

        $(function () {
            $.vegas({
                src: 'http://egitim.immib.org.tr/jsv/istanbul_turu_1.jpg'
            });
        });
    </script>
</body>
</html>
