<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="immib">
    <meta name="author" content="SRC Soft">
    <meta name="keyword" content="immib, egitim, istanbul, maden, metal">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>@ViewBag.Title | İMMİB Eğitim</title>

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/style")

    <link href="/css/flexslider.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />

</head>
<body class="full-width">
    <section id="container" class="">
        @Html.Partial("_Header")

        @RenderBody()

        @Html.Partial("_Footer")

    </section>

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/general")

    <script src="/js/jquery.flexslider.js"></script>
    <script src="~/assets/jquery-knob/js/jquery.knob.js"></script>

    @RenderSection("scripts", required: false)

    @RenderSection("TEST", required: false)

    @RenderSection("Profile", required: false)

<script>
        $(function () {
            $.vegas({
                src: 'http://egitim.immib.org.tr/jsv/istanbul_turu_1.jpg'
            });
        });
    </script>
</body>
</html>
